.classpath
.project
.settings
.springBeans
target

# Can also ignore all directories and files in a directory.
tmp/**/* 
lib/railo/railo-server/context/**/*
lib/railo/railo-server/context/exe-log
lib/railo/railo-server/context/id
lib/railo/railo-server/context/version
lib/railo/railo-server/patches/*.*

src/main/webapp/WEB-INF/railo/**/*
src/main/webapp/WEB-INF/flex/**/*
src/main/webapp/WEB-INF/railo/.htaccess
src/main/webapp/WEB-INF/railo/exe-log
src/main/webapp/WEB-INF/railo/id
src/main/webapp/WEB-INF/railo/lib-hash
src/main/webapp/WEB-INF/railo/version
src/main/webapp/WEB-INF/flex
